body {
  font-family: Helvetica Neue, Raleway, sans-serif;
}

.container-1 {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 200px;
}

#weather-list {
  margin-top: 25px;
  min-height: 300px;
}

::-webkit-input-placeholder {
  text-align: center;
}

input {
  text-align: centre;
}

.city-input {
  max-width: 200px;
  margin: 0 auto;
}

.city-input.loading {
  opacity: 0.5;
}

footer {
  text-align: center;
}

.city-input .item {
  padding: 4px 0;
}
.city-input .item .flag-icon {
  margin-right: 5px;
}

.form-control {
  max-width: 400px;
  text-align: center;
  padding-left: 50px;
}

img {
  max-width: 200px;
}

button {
  display: none;
}
